.form-container {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-light);
  color: var(--text-dark);
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  color: var(--primary-color);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid var(--input-border);
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-light);
  color: var(--text-dark);
}

input:focus {
  border-color: var(--input-focus-border);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
  outline: none;
  background-color: #ffffff;
}

input::placeholder {
  color: var( --primary-color);
  font-style: italic;
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button.secondary {
  background-color: var(--secondary-color);
}

button.secondary:hover {
  background-color: var(--secondary-hover-color);
}