:root {
  --font-family: 'Poppins', sans-serif;
  --font-size: 16px;
  --primary-color: #4CAF50; /* Green */
  --primary-hover-color: #45a049; /* Darker Green */
  --secondary-color: #f44336; /* Red */
  --secondary-hover-color: #e53935; /* Darker Red */
  --background-light: #f9f9f9; /* Light Gray */
  --background-dark: #2c2c2c; /* Dark Gray */
  --text-light: #ffffff; /* White */
  --text-dark: #333333; /* Almost Black */
  --input-border: #cccccc; /* Light Border */
  --input-focus-border: #4CAF50; /* Green Border */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: var(--background-dark);
    --text-light: var(--text-dark);
  }
}